<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kafka Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Kafka Weather</h1>
        <div id="weather">Loading...</div>
        <div id="forecast" class="forecast-container"></div>
    </div>

    <div class="footer">
        <div id="updated">Loading...</div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>